.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .place{
        width: 320px;
       min-height: 450px;
        margin: 15px 0;
    box-shadow: 1px 1px 2px 5px rgba(62, 0, 0, 0.05);
    border-radius: 15px;

    }
    .title{
        font-size: 16px;
        margin: 10px 0 10px 0;
    }
    .img{
        width: 320px;
        height: 305px;
        border-radius: 15px;
    }
    .address{
        font-size: 14px;
    }
    .wrap-price{
        text-decoration: underline;
    }
    .price{
        font-size: 15px;
        font-weight: 600;
    }
    a{
        color: #333;
        text-decoration: none;
    }
}
.btn-add{
    padding: 10px 25px;
    border: none;
    margin: 20px 25px;
    background-color: #FF385C;
    color: #fff;
    border-radius: 10px;
    &:hover{
        opacity: 0.8;
    }
}