.header{
    display: flex;
    height: 80px;
    width: 100%;
    border-bottom:1px solid rgba(52, 45, 45,0.1) ;
    .title{
        width: 100%;
        display: flex;
        padding: 0 80px;
        justify-content: space-between;
    }
}

.plane{
    display: flex;
    color: rgb(255, 56, 92);
    align-items: center;
    font-size: 30px;
    cursor: pointer;

}
.options{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 15px;
    justify-content: space-around;
    padding: 0 24px;
    min-width: 348px;
    height: 48px;
    border:1px solid rgba(52, 45, 45, 0.1);
    border-radius: 36px;
    cursor: pointer;

    span{
        position: relative;
        font-size: 14px;
        font-weight: 600;
        height: 20px;
        min-width: 80px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 1 auto;
        line-height: 22px;
    }
   
    span::after{
        content: '';
        position: absolute;
        background-color: rgba(22, 24, 35, 0.12);
        width: 1px;
        height: 32px;
        right: 28%;
    }
    .last-option{
        color: #717171;
        font-weight: 400;
        height: 20px;
        min-width: 80px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 1 auto;
        line-height: 22px;
        font-size: 14px;
    }
    .icon{
        display: flex;
        position: absolute;
        right: 5px;
        border-radius: 50%;
        background-color: #FF385C;
        width: 32px;
        height: 32px;
        color: #fff;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }
}
.info{
    display: flex;
    align-items: center;
 
    .user{
        display: flex;
        position: relative;
        background-color: #fff;
        border: 1px solid #DDD;
         border-radius: 36px;
         min-width: 75px;
         height: 40px;
        
        cursor: pointer;

         
         .avatar{
            position:absolute;
            right: 5px;
            width: 30px;
            height: 30px;
            bottom: 5px;
            border-radius: 50%;
        }
        .icon-bars{
            position:absolute;
            left: 10px;
            top: 28%;
            border-radius: 50%;
        }
    }
    .icon-earth,
    .current-info{
        font-size: 14px;
        font-weight: 600;
        height: 20px;
        min-width: 80px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 1 auto;
        line-height: 22px;
        cursor: pointer;
    }
   
}
